HTML,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
blockquote,
pre,
form,
fieldset,
table,
th,
td {
    border     : none;
    font-family: "微软雅黑", "黑体", "宋体";
    font-size  : 14px;
    margin     : 0px;
    padding    : 0px;
}

html,
body {
    height: 100%;
    width : 100%;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style : normal;
    font-weight: normal;
}

a {
    text-decoration: none;
}

a:link {
    color: #fff;
}

a:visited {
    color: #fff;
}

a:hover {
    color: #fff;
}

a:active {
    color: #fff;
}

input::-ms-clear {
    display: none;
}

input::-ms-reveal {
    display: none;
}

input {
    -webkit-appearance: none;
    margin            : 0;
    outline           : none;
    padding           : 0;
}

input::-webkit-input-placeholder {
    color: #ccc;
}

input::-ms-input-placeholder {
    color: #ccc;
}

input::-moz-placeholder {
    color: #ccc;
}

input[type=submit],
input[type=button] {
    cursor: pointer;
}

button[disabled],
input[disabled] {
    cursor: default;
}

img {
    border: none;
}

ul,
ol,
li {
    list-style-type: none;
}

/*公共方法*/
.clear {
    clear: both;
}

.clearleft {
    clear: left;
}

.clearright {
    clear: right;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.cursor {
    cursor: pointer;
}

.clearfix:after {
    content: ' ';
    display: block;
    height : 0;
    clear  : both;
}

/* 初始化结束 */
@font-face {
    font-family: fangzheng;
    src        : url("../assets/imgs/方正粗倩简体.ttf");
    src        : url('../assets/imgs/方正粗倩简体.woff') format('woff'),
        url('../assets/imgs/方正粗倩简体.woff2') format('woff2');
}

@font-face {
    font-family: ledfont;
    src        : url("../assets/imgs/UnidreamLED.ttf");
    src        : url('../assets/imgs/UnidreamLED.woff') format('woff'),
        url('../assets/imgs/UnidreamLED.woff2') format('woff2');
}

.topleft {
    width          : 350px;
    height         : 52px;
    background     : url('../assets/imgs/top@2x.png') center center no-repeat;
    background-size: contain;
    position       : absolute;
    top            : 20px;
    left           : 77px;
}

.nav {
    position : absolute;
    top      : 40px;
    left     : 480px;
    font-size: 16px;
    color    : #fff;
    cursor   : pointer;
}

.nav ul li {
    margin-right: 50px;
}

.btn_left {
    width      : 112px;
    height     : 32px;
    background : url('../assets/imgs/按钮.png') center center no-repeat;
    font-size  : 16px;
    text-align : center;
    line-height: 32px;
    color      : #fff;
    cursor     : pointer;
}

#people_moni {
    position: absolute;
    top     : 290px;
    left    : 40px;
    display : none;
}

#back_all {
    position : absolute;
    bottom   : 135px;
    left     : 50%;
    transform: translateX(-50%);
}

#in_ex_floor {
    position : absolute;
    bottom   : 120px;
    left     : 50%;
    transform: translateX(-50%);
    /* display: none; */
}

#gate {
    position: absolute;
    top     : 290px;
    left    : 40px;
}

.selected {
    color: #4DFFFF;
}

#bottomFloor {
    width      : 380px;
    height     : 32px;
    background : url('../assets/imgs/中间.png') center center no-repeat;
    position   : absolute;
    bottom     : 84px;
    left       : 50%;
    transform  : translateX(-50%);
    color      : #fff;
    line-height: 32px;
    text-align : center;
    display    : none;
}

#bottomFloor ul {
    width  : 360px;
    display: flex;
    padding: 0 10px 0 10px;
}

#bottomFloor ul li {
    width : 40px;
    flex  : auto;
    cursor: pointer;
}

/* #bottomFloor ul li:nth-child(1) {
    margin-left: 20px;
} */
.equipment-list {
    width     : 57px;
    height    : 100%;
    background: rgba(0, 0, 0, .8);
    position  : absolute;
    left      : 0px;
    top       : 0px;
}

.equipment-list ul {
    width: 57px;
}

.equipment-list ul li {
    height: 50px;
    margin: 20px 0;
    cursor: pointer;
}

.video_list {
    background     : url('../assets/imgs/摄像头-icon.png') center center no-repeat;
    background-size: 28px 24px;
}

.video_list:hover {
    background: url('../assets/imgs/shexiangtou-icon-in.png') center center no-repeat;
}

.video_list_in {
    background     : url('../assets/imgs/shexiangtou-icon-in.png') center center no-repeat;
    background-size: 28px 24px;
    border         : 1px solid #4DFFFF;
}

.waterTank_list {
    background     : url('../assets/imgs/水池-icon.png') center center no-repeat;
    background-size: 26px 26px;
}

.waterTank_list:hover {
    background: url('../assets/imgs/shuixiang-icon-in.png') center center no-repeat;
}

.waterTank_list_in {
    background     : url('../assets/imgs/shuixiang-icon-in.png') center center no-repeat;
    background-size: 26px 26px;
    border         : 1px solid #4DFFFF;
}

.fire_list {
    background     : url('../assets/imgs/烟感-icon.png') center center no-repeat;
    background-size: 22px 25px;
}

.fire_list:hover {
    background: url('../assets/imgs/wengan-icon-in.png') center center no-repeat;
}

.fire_list_in {
    background     : url('../assets/imgs/wengan-icon-in.png') center center no-repeat;
    background-size: 22px 25px;
    border         : 1px solid #4DFFFF;
}

.smoke_list {
    background     : url('../assets/imgs/yangan-icon.png') center center no-repeat;
    background-size: 28px 21px;
}

.smoke_list_in {
    background     : url('../assets/imgs/yangan-icon-in.png') center center no-repeat;
    background-size: 28px 21px;
    border         : 1px solid #4DFFFF;
}

.smoke_list:hover {
    background: url('../assets/imgs/yangan-icon-in.png') center center no-repeat;
}

.gate_list {
    background     : url('../assets/imgs/闸机-icon.png') center center no-repeat;
    background-size: 19px 24px;
}

.gate_list:hover {
    background: url('../assets/imgs/zhaji-icon-in.png') center center no-repeat;
}

.gate_list_in {
    background     : url('../assets/imgs/zhaji-icon-in.png') center center no-repeat;
    background-size: 19px 24px;
    border         : 1px solid #4DFFFF;
}

.trashCan_list {
    background     : url('../assets/imgs/垃圾桶-icon.png') center center no-repeat;
    background-size: 23px 24px;
}

.trashCan_list:hover {
    background: url('../assets/imgs/lajitong-icon-in.png') center center no-repeat;
}

.trashCan_list_in {
    background     : url('../assets/imgs/lajitong-icon-in.png') center center no-repeat;
    background-size: 23px 24px;
    border         : 1px solid #4DFFFF;
}

.hole_cover_list {
    background     : url('../assets/imgs/井盖-icon.png') center center no-repeat;
    background-size: 24px 24px;
}

.hole_cover_list:hover {
    background: url('../assets/imgs/jinggai-icon-in.png') center center no-repeat;
}

.hole_cover_list_in {
    background     : url('../assets/imgs/jinggai-icon-in.png') center center no-repeat;
    background-size: 24px 24px;
    border         : 1px solid #4DFFFF;
}

.park_list {
    background     : url('../assets/imgs/停车场-icon.png') center center no-repeat;
    background-size: 24px 24px;
}

.park_list:hover {
    background: url('../assets/imgs/tingche-icon-in.png') center center no-repeat;
}

.park_list_in {
    background     : url('../assets/imgs/tingche-icon-in.png') center center no-repeat;
    background-size: 24px 24px;
    border         : 1px solid #4DFFFF;
}

.AOCN_list {
    background     : url('../assets/imgs/kongkai-icon.png') center center no-repeat;
    background-size: 19px 19px;
}

.AOCN_list:hover {
    background: url('../assets/imgs/kongkai-icon-in.png') center center no-repeat;
}

.AOCN_list_in {
    background     : url('../assets/imgs/kongkai-icon-in.png') center center no-repeat;
    background-size: 19px 19px;
    border         : 1px solid #4DFFFF;
}

.meter_list {
    background     : url('../assets/imgs/shuidian-icon.png') center center no-repeat;
    background-size: 19px 28px;
}

.meter_list:hover {
    background: url('../assets/imgs/shuidian-icon-in.png') center center no-repeat;
}

.meter_list_in {
    background     : url('../assets/imgs/shuidian-icon-in.png') center center no-repeat;
    background-size: 19px 28px;
    border         : 1px solid #4DFFFF;
}

.warnVideo-title {
    width   : 150px;
    position: absolute;
    top     : 150px;
    left    : 85px;
    color   : #fff;
}

.warnVideo-title i {
    display        : inline-block;
    width          : 15px;
    height         : 17px;
    background     : url('../assets/imgs/标题.png') center center no-repeat;
    background-size: 15px 17px;
}

.warnVideo-title span {
    margin-left: 9px;
    font-size  : 18px;
}

.warnVideo-title div {
    font-size  : 10px;
    margin     : 5px 0 0 31px;
    font-family: 'Microsoft YaHei';
}

#random-video {
    width   : 185px;
    height  : 104px;
    position: absolute;
    top     : 221px;
    left    : 111px;
    color   : #FFF;
}

#equip-num {
    width     : 185px;
    height    : 104px;
    background: rgba(239, 239, 239, .1);
    position  : absolute;
    top       : 221px;
    left      : 348px;
    text-align: center;
}

#equip-num div:nth-child(1) {
    color     : #DCF4FE;
    font-size : 16px;
    margin-top: 28px;
}

#equip-num div:nth-child(2) {
    color      : #FFD200;
    margin-top : 12px;
    font-family: fangzheng;
    font-size  : 16px;
}

#equip-allnum {
    position : absolute;
    top      : 340px;
    left     : 135px;
    font-size: 16px;
    color    : #fff;
}

#equip-allnum i {
    width          : 28px;
    height         : 24px;
    display        : inline-block;
    background     : url('../assets/imgs/摄像头-icon.png') center center no-repeat;
    background-size: 28px 24px;

}

#equip-allnum .point-yellow {
    display      : inline-block;
    width        : 4px;
    height       : 4px;
    background   : #FFAD00;
    border-radius: 50%;
    margin-left  : 11px;
}

#equip-allnum span:nth-child(3) {
    margin-left: 10px;
    color      : #DBF3FD;
}

#equip_num {
    color      : #FFD200;
    font-size  : 24px;
    margin-left: 130px;
    font-family: fangzheng;
}

.equip-list {
    position: absolute;
    top     : 404px;
    left    : 119px;
}

.equip-list ol {
    width    : 390px;
    height   : 20px;
    font-size: 17px;
    color    : #fff;
    display  : flex;
}

.equip-list ol li {
    float: left;
    flex : 1;
}

.equip-list ol li span {
    display     : inline-block;
    width       : 4px;
    height      : 4px;
    margin-right: 10px;
}

.equip-list ol .point-yellow {
    width         : 4px;
    height        : 4px;
    background    : #ffae00;
    border-radius : 50%;
    vertical-align: middle;
}

.equip-list ol .point-blue {
    width         : 4px;
    height        : 4px;
    background    : #00b4ff;
    border-radius : 50%;
    vertical-align: middle;
}

.equip-list ol .point-red {
    width         : 4px;
    height        : 4px;
    background    : #ff6767;
    border-radius : 50%;
    vertical-align: middle;
}

.equip-list ul {
    display   : flex;
    width     : 390px;
    margin-top: 14px;
}

.equip-list ul li {
    font-size  : 24px;
    flex       : 1;
    font-family: fangzheng;
}

.equip-list ul li i {
    display     : inline-block;
    width       : 1px;
    height      : 24px;
    background  : rgba(255, 255, 255, .3);
    margin-right: 19px;
}

.equip-list ul li:nth-child(1) {
    color: #ffae00;
}

.equip-list ul li:nth-child(2) {
    color: #00b4ff;
}

.equip-list ul li:nth-child(3) {
    color: #ff6767;
}

/* 设备在线情况 */
.equip-online {
    position: absolute;
    top     : 517px;
    left    : 87px;
}

.equip-online .warnVideo-title {
    position: absolute;
    top     : 0;
    left    : 0;
}

#echarts_first_leftBottom {
    width   : 410px;
    height  : 260px;
    position: absolute;
    top     : 50px;
}

/* 右上角时间 */
#time {
    height     : 40px;
    position   : absolute;
    top        : 39px;
    right      : 83px;
    color      : #00fcff;
    font-size  : 30px;
    font-family: ledfont;
}

#date {
    position : absolute;
    top      : 78px;
    right    : 83px;
    font-size: 12px;
    color    : #fff;
}

#vertical_bar {
    width     : 1px;
    height    : 48px;
    position  : absolute;
    top       : 44px;
    right     : 72px;
    background: #00FFFF;
}

#weather {
    position : absolute;
    top      : 39px;
    right    : 23px;
    color    : #fff;
    font-size: 16px;
}

#temperature {
    position : absolute;
    top      : 75px;
    right    : 20px;
    font-size: 16px;
    color    : #4dFFFF;
}

.cross-border-alarm {
    position: absolute;
    top     : 150px;
    right   : 474px;
}

.cross-border-alarm .warnVideo-title {
    position: absolute;
    top     : 0;
    left    : 0;
}

.visitors-box {
    width     : 455px;
    height    : 180px;
    /* display: flex; */
    /* border : 1px solid #4dc2ff; */
    position  : absolute;
    top       : 195px;
    right     : 26px;
}

.visitors-box .visitor-realTime-data {
    width     : 470px;
    height    : 200px;
    position  : static;
    margin-top: 15px;
    display   : block;
    overflow  : hidden;
}

.visitors-box .visitor-realTime-data .realTime-box {
    width       : 150px;
    height      : 200px;
    display     : inline-block;
    margin-right: 5px;
    background  : url('../assets/imgs/index_kuang.png') center center no-repeat;
}

.visitors-box .visitor-realTime-data .realTime-box ul li {
    margin: 5px 0 4px 33px;
}

.visitors-box .visitor-realTime-data .realTime-box ul li:nth-child(n+2) {
    margin     : 2px 0 0px 1px;
    font-size  : 16px;
    transform  : scale(0.5);
    line-height: 12px;
}

.visitors-box .visitor-realTime-data .realTime-box ul li:nth-child(5) {
    text-align: center;
}

.visitors-box .visitor-realTime-data .realTime-box ul li:nth-child(1) {
    width        : 86px;
    height       : 106px;
    margin       : 20px 0 0 23px;
    border-radius: 2px;
}

.visitors-box .visitor-realTime-data .realTime-box ul li:nth-child(1) img {
    width        : 106px;
    height       : 106px;
    border-radius: 2px;
}

.Security-alarm {
    position: absolute;
    top     : 420px;
    right   : 474px;
}

.Security-alarm .warnVideo-title {
    position: absolute;
    top     : 0;
    left    : 0;
}

.alarm-all-num-box {
    position: absolute;
    top     : 60px;
    left    : 30px;
    color   : #fff;
}

.alarm-all-num-box ol {
    display  : flex;
    font-size: 14px;
    width    : 420px;
}

.alarm-all-num-box ol li {
    float: left;
    flex : 1;
}

.alarm-all-num-box ul {
    margin-top : 22px;
    margin-left: 5px;
    display    : flex;
    width      : 420px;
}

.alarm-all-num-box ul li {
    font-size  : 24px;
    float      : left;
    flex       : 1;
    font-family: fangzheng;
}

.alarm-all-num-box ul li:nth-child(1) {
    color: #fff;
}

.alarm-all-num-box ul li:nth-child(2) {
    color: #FF6767;
}

.alarm-all-num-box ul li:nth-child(3) {
    color: #01FF1F;
}

.equip-status-box {
    width    : 400px;
    font-size: 14px;
    position : absolute;
    top      : 565px;
    right    : 41px;
}

.equip-status-box ol {
    color  : #00b4ff;
    display: flex;
}

.equip-status-box ol li {
    flex: 1;
}

#mid-line {
    width     : 350px;
    height    : 1px;
    background: #e1f5ff;
    position  : absolute;
    top       : 25px;
    left      : -6px;
}

.equip-status-box ul {
    width     : 400px;
    height    : 85px;
    overflow  : hidden;
    font-size : 12px;
    color     : #FCF4FE;
    margin-top: 14px;
}

.equip-status-box ul li {
    margin-bottom: 12px;
    position     : relative;
}

.equip-status-box ul li span:nth-child(2) {
    position: absolute;
    left    : 120px;
}

.equip-status-box ul li span:nth-child(3) {
    position: absolute;
    left    : 200px;
}

.color-deal {
    position: absolute;
    left    : 300px;
    color   : #01FF1F;
}

.color-deal-red {
    color: #FF6767;
}

/* 近三个月趋势 */
.recent-trends {
    position: absolute;
    top     : 700px;
    right   : 474px;
}

.recent-trends .warnVideo-title {
    width   : 180px;
    position: absolute;
    top     : 0;
    left    : 0;
}

#echarts_first_rightBottom {
    width        : 450px;
    height       : 245px;
    position     : absolute;
    top          : 745px;
    right        : 26px;
    /* background: #00b4ff; */
}

.total_number_of_floor {
    position: absolute;
    top     : 150px;
    left    : 85px;
}

.total_number_of_floor .warnVideo-title {
    position: absolute;
    top     : 0;
    left    : 0;
}

#echarts_second_leftTop {
    width   : 220px;
    height  : 220px;
    position: absolute;
    top     : 210px;
    left    : 150px;
}

.people-status {
    position: absolute;
    top     : 151px;
    right   : 474px;
}

.people-status .warnVideo-title {
    position: absolute;
    top     : 0;
    left    : 0;
}

.company-all-person-num {
    font-size: 14px;
    color    : #fff;
    width    : 418px;
    height   : 88px;
    position : absolute;
    top      : 197px;
    right    : 25px;
}

.company-person {
    margin-top : 10px;
    line-height: 34px;
}

.company-person #company_person {
    display     : inline-block;
    width       : 143px;
    height      : 34px;
    margin-left : 157px;
    margin-right: 9px;
    background  : url('../assets/imgs/rightTop_num_box.png') center center no-repeat;
}

.visitor-person {
    margin-top : 10px;
    line-height: 34px;
}

.visitor-person #visitor_person {
    display     : inline-block;
    width       : 143px;
    height      : 34px;
    margin-left : 157px;
    margin-right: 9px;
    background  : url('../assets/imgs/rightTop_num_box.png') center center no-repeat;
}

.person-single-num li {
    width       : 28px;
    float       : left;
    margin-right: 10px;
    text-align  : center;
}

.person-single-num li:nth-child(4) {
    margin: 0;
}

.todays_statistics {
    position: absolute;
    top     : 516px;
    left    : 85px;
}

.todays_statistics .warnVideo-title {
    width   : 230px;
    position: absolute;
    top     : 0;
    left    : 0;
}

#echarts_second_leftBottom {
    width   : 400px;
    height  : 260px;
    position: absolute;
    top     : 575px;
    left    : 75px;
}

#second_page {
    display: none;
}

#thrid_page {
    display: none;
}

#fourth_page {
    display: none;
}

.visitor-real-data {
    position: absolute;
    top     : 345px;
    right   : 474px;
}

.visitor-real-data .warnVideo-title {
    width   : 230px;
    position: absolute;
    top     : 0;
    left    : 0;
}

.visitor-realTime-data {
    width   : 420px;
    height  : 157px;
    position: absolute;
    top     : 397px;
    right   : 53px;
    display : flex;
}

#visitor_data .realTime-box ul li:nth-child(1) {
    width        : 50px;
    height       : 50px;
    margin       : 12px 0 4px 68px;
    border-radius: 2px;
    overflow     : hidden;
}

#visitor_data .realTime-box ul li:nth-child(n+2) {
    transform: scale(0.8);
    margin   : 0;
}

.realTime-box {
    margin-right : 10px;
    flex         : 1;
    background   : url('../assets/imgs/实时数据.png') center center no-repeat;
    /* text-align: center; */
}

.realTime-box ul li {
    color                   : #DCF4FE;
    margin                  : 5px 0 7px 27px;
    -webkit-text-size-adjust: none;
    font-size               : 8px;
}

.realTime-box ul li:nth-child(1) {
    width        : 86px;
    height       : 66px;
    margin       : 15px 0 0 25px;
    /* background: url('../assets/imgs/QQtouxiang.png') center center no-repeat; */
}

.realTime-box ul li:nth-child(1) img {
    width : 100%;
    height: 100%;
}

.visitor-realTime-data .realTime-box:nth-child(3) {
    margin-right: 0;
}

.visitor-real-time-data {
    position: absolute;
    top     : 598px;
    right   : 474px;
}

.visitor-real-time-data .warnVideo-title {
    position: absolute;
    top     : 0;
    left    : 0;
}

.visitor-real-time-data .warnVideo-title div {
    width: 180px;
}

.visitor-sys {
    width     : 390px;
    position  : absolute;
    top       : 654px;
    right     : 88px;
    color     : #DCF4FE;
    text-align: center;
}

.visitor-sys ol {
    width  : 100%;
    display: flex;
}

.visitor-sys ol li {
    flex: 1;
}

.visitor-sys ul {
    width     : 100%;
    display   : flex;
    color     : #00FCFF;
    margin-top: 15px;
}

.visitor-sys ul li {
    font-size: 24px;
    flex     : 1;
}

.visitor-list {
    width   : 390px;
    height  : 150px;
    position: absolute;
    top     : 740px;
    right   : 50px;
}

.visitor-list ol {
    font-size: 14px;
    color    : #00B4FF;
}

.visitor-list ol li:nth-child(1) {
    margin-right: 38px;
}

.visitor-list ol li:nth-child(2) {
    margin-right: 55px;
}

.visitor-list ol li:nth-child(3) {
    margin-right: 66px;
}

.line-gray {
    width        : 390px;
    height       : 1px;
    background   : #E1F5FF;
    margin-top   : 30px;
    margin-left  : -2px;
    margin-bottom: 17px;
}

.visitor-list ul {
    width             : 390px;
    height            : 150px;
    overflow          : scroll;
    -ms-overflow-style: none;
    overflow          : -moz-scrollbars-none;

}

.visitor-list ul::-webkit-scrollbar {
    width: 0 !important
}

.visitor-list ul li {
    color        : #DCF4FE;
    font-size    : 14px;
    margin-bottom: 15px;
}

.visitor-list ul li span {
    display: inline-block;
}

.visitor-list ul li span:nth-child(1) {
    width          : 64px;
    margin-right   : 20px;
    text-align     : justify;
    text-align-last: justify;
}

.visitor-list ul li span:nth-child(2) {
    width          : 64px;
    margin-right   : 20px;
    text-align     : justify;
    text-align-last: justify;
}

.visitor-list ul li span:nth-child(3) {
    width       : 102px;
    text-align  : center;
    margin-right: 41px;
}

/* 公共资源 */
.percentage-parking-spaces {
    position: absolute;
    top     : 150px;
    left    : 85px;
}

.percentage-parking-spaces .warnVideo-title {
    width   : 220px;
    position: absolute;
    top     : 0;
    left    : 0;
}

#echarts_third_leftTop {
    width   : 400px;
    height  : 100px;
    position: absolute;
    top     : 200px;
    left    : 100px;
}

.vehicle-Type {
    position: absolute;
    top     : 280px;
    left    : 85px;
}

.vehicle-Type .warnVideo-title {
    position: absolute;
    top     : 0;
    left    : 0;
}

#echarts_third_leftMid {
    width   : 400px;
    height  : 140px;
    position: absolute;
    top     : 320px;
    left    : 100px;
}

.car-chart {
    width    : 350px;
    position : absolute;
    top      : 464px;
    left     : 140px;
    font-size: 16px;
    color    : #DCF4FE;
}

.car-chart ul li:nth-child(1) {
    margin-right: 98px;
}

.car-chart ul li:nth-child(2) {
    margin-right: 98px;
}

.Vehicle-records {
    position: absolute;
    top     : 516px;
    left    : 85px;
}

.Vehicle-records .warnVideo-title {
    width   : 230px;
    position: absolute;
    top     : 0;
    left    : 0;
}

.records-list {
    position: absolute;
    top     : 570px;
    left    : 72px;
    color   : #fff;
}

.records-list ul {
    width : 420px;
    height: 310px;
}

.records-list ul li {
    width      : 200px;
    height     : 40px;
    position   : relative;
    text-align : center;
    font-family: fangzheng;
}

.enter_go {
    display   : inline-block;
    width     : 13px;
    height    : 11px;
    background: url('../assets/imgs/进.png') center center no-repeat;
    position  : absolute;
    top       : 13px;
    left      : 1px;
}

.go_icon {
    background: url('../assets/imgs/出.png') center center no-repeat;
}

.legend {
    width   : 100px;
    height  : 16px;
    position: absolute;
    top     : 22px;
    left    : 290px;
    color   : #E9E9EA;
}

.legend span {
    font-size: 14px;
}

.legend .enter_go {
    position: static;
    margin  : 0 8px;
}

.records-list ul li .line-list {
    width     : 2px;
    height    : 35px;
    background: #D9F5FF;
    position  : absolute;
    top       : 0;
    left      : 24px;
}

.records-list ul li:nth-child(odd) {
    position: absolute;
    left    : 12px;
}

.records-list ul li:nth-child(even) {
    position: absolute;
    left    : 220px;
}

.records-list ul li span {
    position    : absolute;
    top         : -1px;
    left        : 40px;
    font-size   : 18px;
    padding-left: 20px;
}

.records-list ul li .time-box {
    width        : 140px;
    height       : 16px;
    border       : 1px solid rgba(0, 192, 255, 1);
    border-radius: 4px;
    color        : #00C0FF;
    position     : absolute;
    top          : 20px;
    left         : 40px;
    font-size    : 14px;
    font-family  : fangzheng;
    line-height  : 16px;
}

.records-list ul li:nth-child(1) {
    position: absolute;
    top     : 12px;
}

.records-list ul li:nth-child(2) {
    position: absolute;
    top     : 12px;
}

.records-list ul li:nth-child(3) {
    position: absolute;
    top     : 72px;
}

.records-list ul li:nth-child(4) {
    position: absolute;
    top     : 72px;
}

.records-list ul li:nth-child(5) {
    position: absolute;
    top     : 132px;
}

.records-list ul li:nth-child(6) {
    position: absolute;
    top     : 132px;
}

.records-list ul li:nth-child(7) {
    position: absolute;
    top     : 192px;
}

.records-list ul li:nth-child(8) {
    position: absolute;
    top     : 192px;
}

.records-list ul li:nth-child(9) {
    position: absolute;
    top     : 252px;
}

.records-list ul li:nth-child(10) {
    position: absolute;
    top     : 252px;
}

.parking_rate {
    position: absolute;
    top     : 150px;
    right   : 474px;
}

.parking_rate .warnVideo-title {
    width   : 230px;
    position: absolute;
    top     : 0;
    left    : 0;
}

#echarts_third_rightTop {
    width   : 440px;
    height  : 235px;
    position: absolute;
    right   : 26px;
    top     : 200px;
}

.conference_room {
    position: absolute;
    top     : 479px;
    right   : 474px;
}

.conference_room .warnVideo-title {
    width   : 230px;
    position: absolute;
    top     : 0;
    left    : 0;
}

.conference-room-box {
    width   : 440px;
    height  : 300px;
    position: absolute;
    top     : 535px;
    right   : 30px;
}

.conference-room-box ol {
    width      : 350px;
    display    : flex;
    text-align : center;
    margin-left: 15px;
}

.conference-room-box ol li {
    color    : #fff;
    font-size: 18px;
    flex     : 1;
}

.conference-room-box ol li i {
    display      : inline-block;
    width        : 8px;
    height       : 8px;
    background   : #4DC2FF;
    border-radius: 50%;
    margin-right : 10px;
}

.conference-room-box ol li:nth-child(2) i {
    background: #FF6767;
}

.conference-room-box ol li:nth-child(3) i {
    background: #D0EFFF;
}

.conference-room-box ul {
    margin-top: 19px;
}

.conference-room-box ul li {
    color        : #fff;
    width        : 67px;
    height       : 42px;
    font-size    : 18px;
    border       : 1px solid rgba(210, 241, 255, 1);
    margin-right : 10px;
    margin-bottom: 10px;
}

.conference-room-box ul li div {
    width      : 61px;
    height     : 36px;
    border     : 1px solid rgba(210, 241, 255, .3);
    margin     : 2px;
    line-height: 36px;
    text-align : center;
}

.environmental-monitoring {
    position: absolute;
    top     : 147px;
    left    : 85px;
}

.environmental-monitoring .warnVideo-title {
    width   : 230px;
    position: absolute;
    top     : 0;
    left    : 0;
}

.environmental-box {
    width   : 438px;
    height  : 80px;
    position: absolute;
    top     : 215px;
    left    : 110px;
}

.environmental-box ul {
    width  : 435px;
    display: flex;
    color  : #fff;
}

.environmental-box ul li {
    flex: 1;
}

.environmental-box ul li span {
    color: #4DFFFF;
}

.environmental-box ul:nth-child(2) {
    position: absolute;
    top     : 40px;
}

/* 设备信息 */
.device-information {
    position: absolute;
    top     : 308px;
    left    : 85px;
}

.device-information .warnVideo-title {
    position: absolute;
    left    : 0;
    top     : 0;
}

.device-box {
    position: absolute;
    top     : 360px;
    left    : 100px;
}

.option {
    width        : 116px;
    height       : 38px;
    margin-bottom: 10px;
}

.option::after {
    content       : "";
    width         : 20px;
    height        : 20px;
    background    : url(../assets/imgs/下拉.png) no-repeat center;
    position      : absolute;
    left          : 84px;
    top           : 9px;
    pointer-events: none;
}

.device-box select {
    margin            : 0;
    padding           : 0;
    background        : none;
    color             : #fff;
    font-size         : 16px;
    width             : 100%;
    height            : 100%;
    border            : none;
    outline           : none;
    line-height       : 36px;
    appearance        : none;
    -webkit-appearance: none;
    -moz-appearance   : none;
    padding-left      : 10px;
    border            : 1px solid rgba(51, 150, 251, 1);
    border-radius     : 4px;
}

.option-class {
    border    : none;
    background: #4DC2FF;
    color     : #fff;
}

.device-list-box {
    width: 435px;
    color: #fff;
}

.device-list-box ul li {
    width        : 435px;
    height       : 107px;
    margin-bottom: 10px;
    border       : 1px solid rgba(51, 150, 251, 1);
}

.divice-31 {
    height       : 31px;
    border-bottom: 1px solid rgba(51, 150, 251, 1);
}

.blue-82 {
    width      : 70px;
    display    : inline-block;
    color      : #82AAFF;
    text-align : center;
    line-height: 31px;
}

.white-33 {
    display      : inline-block;
    width        : 101px;
    height       : 100%;
    line-height  : 31px;
    text-align   : center;
    border       : 1px solid rgba(51, 150, 251, 1);
    border-top   : none;
    border-bottom: none;
}

.device-div {
    height       : 43px;
    font-size    : 16px;
    color        : #fff;
    line-height  : 43px;
    border-bottom: 1px solid rgba(51, 150, 251, 1);
}

.device-div .device-name {
    display    : inline-block;
    margin-left: 9px;
}

.device-div .fr {
    color       : #FF6767;
    margin-right: 36px;
}

.last_white {
    display     : inline-block;
    height      : 100%;
    padding-left: 10px;
    line-height : 31px;
    border-left : 1px solid rgba(51, 150, 251, 1);
}

.energy-consumption {
    position: absolute;
    top     : 149px;
    right   : 474px;
}

.energy-consumption .warnVideo-title {
    width   : 250px;
    position: absolute;
    top     : 0;
    left    : 0;
}

.energy-logo div:nth-child(1) {
    position: absolute;
    top     : 204px;
    right   : 332px;
}

.energy-logo div:nth-child(2) {
    position: absolute;
    top     : 204px;
    right   : 112px;
}

.energy-logo div {
    width        : 77px;
    height       : 77px;
    border-radius: 50%;
    border       : 2px solid rgba(210, 241, 255, 1);
    text-align   : center;
}

.energy-logo div i {
    display   : inline-block;
    width     : 28px;
    height    : 39px;
    margin-top: 16px;
}

.energy-logo div .dian {
    background: url('../assets/imgs/电.png') center center no-repeat;
}

.energy-logo div .shui {
    background: url('../assets/imgs/水滴.png') center center no-repeat;
}

.energy-num {
    position : absolute;
    top      : 300px;
    right    : 280px;
    font-size: 16px;
    color    : #DCF4FE;
}

.energy-num2 {
    position: absolute;
    top     : 300px;
    right   : 86px;
}

.energy-num span {
    font-size   : 29px;
    font-family : fangzheng;
    margin-right: 12px;
}

#dian_num {
    color: #FFD200;
}

#shui_num {
    color: #00FCFF;
}

.total-dian-text {
    position : absolute;
    top      : 333px;
    right    : 319px;
    color    : #fff;
    font-size: 16px;
}

.total-shui-text {
    position : absolute;
    top      : 333px;
    right    : 93px;
    color    : #fff;
    font-size: 16px;
}

.day-energy {
    position: absolute;
    top     : 388px;
    right   : 474px;
}

.day-energy .warnVideo-title {
    width   : 250px;
    position: absolute;
    top     : 0;
    left    : 0;
}

#echarts_fourth_rightTop {
    width   : 430px;
    height  : 180px;
    position: absolute;
    top     : 432px;
    right   : 13px;
}

.equipment-power {
    position: absolute;
    top     : 622px;
    right   : 474px;
}

.equipment-power .warnVideo-title {
    width   : 250px;
    position: absolute;
    top     : 0;
    left    : 0;
}

#echarts_fourth_rightBottom {
    width   : 420px;
    height  : 280px;
    position: absolute;
    top     : 693px;
    right   : 20px;

}

/* 会议室预约颜色 */
.yuyue {
    background-color: #00b4ff;
}

.un-yuyue {
    background: #ff6767;
}

.layer_demo {
    width     : 185px;
    height    : 104px;
    text-align: center;
    background: rgba(0, 0, 0, .6);
    color     : #fff;
    border    : 1px solid #4DFFFF;
    font-size : 16px;
    position  : absolute;
    top       : 400px;
    left      : 800px;
}


.videoLayer {
    width   : 185px;
    height  : 104px;
    position: absolute;
    border  : 1px solid #fff;
    display : none;
}

.tankLayer {
    width      : 185px;
    height     : 104px;
    position   : absolute;
    border     : 1px solid #4DFFFF;
    background : rgba(0, 0, 0, .6);
    text-align : center;
    line-height: 104px;
    font-size  : 16px;
    color      : #fff;
    display    : none;
}

.smokeLayer {
    width        : 185px;
    height       : 104px;
    position     : absolute;
    text-align   : center;
    background   : rgba(0, 0, 0, .6);
    color        : #fff;
    border       : 1px solid #4DFFFF;
    font-size    : 16px;
    display      : none;
    border-radius: 6px;
}

.gateLayer {
    width        : 185px;
    height       : 104px;
    position     : absolute;
    background   : rgba(0, 0, 0, .6);
    color        : #fff;
    border       : 1px solid #4DFFFF;
    font-size    : 12px;
    display      : none;
    border-radius: 6px;
}

.layer_status {
    color: #fff;
}

.layer_status li {
    color : #4DFFFF;
    margin: 12px;
}

.layer_status li span {
    color: #fff;
}

.gateLayer .layer_status li {
    font-size: 12px;
    margin   : 6px 0 6px 5px;
}

.gateLayer .layer_status li:last-child {
    width   : 40px;
    height  : 40px;
    display : inline-block;
    position: absolute;
    right   : 4px;
    top     : 4px;
    margin  : 0;
}

.gateLayer .layer_status li:last-child img {
    width : 100%;
    height: 100%;
}

.AOCNLayer {
    width        : 185px;
    height       : 144px;
    position     : absolute;
    background   : rgba(0, 0, 0, .6);
    color        : #fff;
    border       : 1px solid #4DFFFF;
    font-size    : 12px;
    display      : none;
    border-radius: 6px;
    overflow     : hidden;
}

.AOCNLayer .layer_status li {
    font-size: 14px;
    margin   : 10px 0 6px 10px;
}

#aocn_f3_1_ly {
    height: 194px;
}

.AOCNLayer .layer_status li:last-child {
    transform: scale(0.5);
    display  : inline-block;
    width    : 300px;
    font-size: 20px;
    margin   : -50px 0 0 -63px;
}

#aocn_f8_2_ly .layer_status li:last-child {
    width    : auto;
    margin   : 10px 0 6px 10px;
    transform: none;
    font-size: 12px;
}

#aocn_f8_3_ly .layer_status li:last-child {
    width    : auto;
    margin   : 10px 0 6px 10px;
    transform: none;
    font-size: 12px;
}

#aocn_f8_4_ly .layer_status li:last-child {
    width    : auto;
    margin   : 10px 0 6px 10px;
    transform: none;
    font-size: 12px;
}

#aocn_f9_1_ly .layer_status li:last-child {
    width    : auto;
    margin   : 10px 0 6px 10px;
    transform: none;
    font-size: 12px;
}

.meterLayer {
    width        : 185px;
    height       : 104px;
    position     : absolute;
    text-align   : center;
    background   : rgba(0, 0, 0, .6);
    color        : #fff;
    border       : 1px solid #4DFFFF;
    font-size    : 16px;
    display      : none;
    border-radius: 6px;
}

.trashCanLayer {
    width        : 185px;
    height       : 104px;
    position     : absolute;
    text-align   : center;
    background   : rgba(0, 0, 0, .6);
    color        : #fff;
    border       : 1px solid #4DFFFF;
    font-size    : 16px;
    display      : none;
    border-radius: 6px;
}

.hole_coverLayer {
    width        : 185px;
    height       : 104px;
    position     : absolute;
    text-align   : center;
    background   : rgba(0, 0, 0, .6);
    color        : #fff;
    border       : 1px solid #4DFFFF;
    font-size    : 16px;
    display      : none;
    border-radius: 6px;
}